<section id="sobre-mi" data-section="sobre-mi" class="section scroll-m-20 w-full mx-auto container lg:max-w-4xl md:max-w-2xl mt-12">
  <h2 class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white">
    <svg class="size-8" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path>
      <path d="M6 21v-2a4 4 0 0 1 4 -4h4"></path>
      <path d="M15 19l2 2l4 -4"></path>
    </svg>
    Sobre mí
  </h2>

  <article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
    <div class="[&>p]:mb-4 [&>p>strong]:text-blue-400 dark:[&>p>strong]:text-blue-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1">
      <p>
        Me llamo Elioenai, soy Licenciado en Informática por la Universidad de la Sierra Sur (UNSIS) y desarrollador de software con experiencia en <strong>sistemas en producción para los sectores salud, educación y lealtad de clientes</strong>.
      </p>
      <p>
        Me especializo en <strong>diseñar arquitecturas escalables y mantenibles</strong> y en construir soluciones de extremo a extremo: interfaces, APIs, autenticación y despliegue.
      </p>
    </div>

    <img width="200" height="200" src="assets/profile.png" alt="Foto de perfil" class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-blue-400/5 ring-1 ring-black/70 dark:ring-white/20" style="object-position: 50% 50%">
  </article>
</section>
